<app-page-header
  title="Contacts"
  subtitle="a contact page"
  icon="fas fa-address-book"
></app-page-header>

<div
  *ngIf="dataRecived; else noContacts && loader"
  class="d-flex justify-content-between"
>
  <div class="mb-2">
    <a
      routerLink="new-contact"
      class="btn btn-outline-dark"
      title="Add new Contact"
      role="button"
      >{{ "add new contact" | paragraphCapital }}</a
    >
  </div>

  <app-display-mode-controllers
    [controllers]="controllers"
    (onChangeDisplay)="onChangeDisplay($event)"
  ></app-display-mode-controllers>
</div>

<search-bar
  *ngIf="contacts"
  [categories]="categories"
  [array]="contactsData"
  (onArrayFilterd)="onSearch($event)"
></search-bar>

<app-contacts-table
  *ngIf="display === 'table'"
  (onDeletContact)="deleteContact($event, 'id')"
  [contacts]="contacts"
></app-contacts-table>

<contacts-folder
  *ngIf="display === 'folder'"
  [contacts]="contacts"
></contacts-folder>

<app-contacts-cards *ngIf="display === 'cards'" [contacts]="contacts">
</app-contacts-cards>

<contacts-hebrew
  *ngIf="display === 'hebrew'"
  [contacts]="contacts"
></contacts-hebrew>

<ng-template #noContacts>
  <div>
    {{ "opss... no contacts where found in the database!" | paragraphCapital }}
  </div>
</ng-template>

<ng-template #loader><app-loader></app-loader></ng-template>
