<app-page-header
  title="About us"
  subtitle="Royal Crm - customer Service 1800-000-0000"
  icon="fas fa-info-circle"
></app-page-header>

<body cz-shortcut-listen="true">
  <div
    class="d-flex align-items-center justify-content-between col-md-5 p-lg-5 mx-auto my-5"
  >
    <div class="">
      <h1 class="display-4 font-weight-normal">
        Customer Relationship Management
      </h1>
      <p class="lead font-weight-normal">
        royal crm alowed you to manage your customers in the best way. store the
        data about your customers or contacts with all the information you need
        in one place.
      </p>
    </div>
    <div class="bg-black">
      <img
        style="width: 300px; height: 200px"
        src="https://cdn.pixabay.com/photo/2022/04/19/11/26/crm-7142692_960_720.jpg"
        alt="img"
      />
    </div>
  </div>

  <!-- display mode box -->
  <div class="col-12 flex-md-equal w-100 my-md-3 pl-md-3">
    <div
      class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
    >
      <div class="my-3 py-3">
        <h2 class="display-5">display mode</h2>
        <p class="lead">You can chose the way to display the data.</p>
        <div></div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="height: 225px; width: 100%; display: block"
              src="https://firebasestorage.googleapis.com/v0/b/royal-crm-guyaltman.appspot.com/o/customers.png?alt=media&token=f0999982-7974-45be-a21b-0f87797f0f10"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text text-black">First option: Table display</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="height: 225px; width: 100%; display: block"
              src="https://firebasestorage.googleapis.com/v0/b/royal-crm-guyaltman.appspot.com/o/customersFolders.png?alt=media&token=09f0bb99-8366-4f92-b89c-1f2ed3e66516"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text text-black">Second option: folders display</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="height: 225px; width: 100%; display: block"
              src="https://firebasestorage.googleapis.com/v0/b/royal-crm-guyaltman.appspot.com/o/customersHebrew.png?alt=media&token=fef5af21-8857-45a9-9658-c223c991b396"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text text-black">Third option: hebrew display</p>
            </div>
          </div>
        </div>

        <hr />
      </div>
    </div>
    <div
      class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
    >
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div
        class="bg-dark box-shadow mx-auto"
        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
      ></div>
    </div>
  </div>
</body>
