<app-page-header
  title="About us"
  subtitle="Royal Crm - customer Service 1800-000-0000"
  icon="fas fa-info-circle"
></app-page-header>

<body cz-shortcut-listen="true">
  <section id="hero" class="d-flex align-items-center mt-4">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1>Customer Relationship Management</h1>
          <h4>
            royal crm alowed you to manage your customers in the best way. store
            the data about your customers or contacts with all the information
            you need in one place.
          </h4>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img
            src="https://cdn.pixabay.com/photo/2014/12/11/08/07/ball-563962__340.jpg"
            class="img-fluid animated"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- display mode box -->
  <div class="col-12 flex-md-equal w-100 my-md-3 pl-md-3">
    <div
      class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
    >
      <div class="my-3 py-3">
        <h2 class="display-5">display mode</h2>
        <p class="lead">You can chose the way you want to display the data.</p>
        <div></div>
      </div>

      <div class="row center">
        <div class="col-md-5">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="height: 225px; width: 100%; display: block"
              src="https://firebasestorage.googleapis.com/v0/b/royal-crm-guyaltman.appspot.com/o/customers.png?alt=media&token=f0999982-7974-45be-a21b-0f87797f0f10"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text text-black">Table display</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="height: 225px; width: 100%; display: block"
              src="https://firebasestorage.googleapis.com/v0/b/royal-crm-guyaltman.appspot.com/o/customersFolders.png?alt=media&token=09f0bb99-8366-4f92-b89c-1f2ed3e66516"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text text-black">folders display</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="height: 225px; width: 100%; display: block"
              src="        https://firebasestorage.googleapis.com/v0/b/royal-crm-guyaltman.appspot.com/o/customersCards.png?alt=media&token=4afb1355-f016-4c70-88c7-e5171447de6d"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text text-black">cards display</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="height: 225px; width: 100%; display: block"
              src="https://firebasestorage.googleapis.com/v0/b/royal-crm-guyaltman.appspot.com/o/customersHebrew.png?alt=media&token=fef5af21-8857-45a9-9658-c223c991b396"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text text-black">hebrew display</p>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</body>
