<app-page-header
  title="customers"
  subtitle="a customer page"
  icon="fas fa-users"
></app-page-header>

<search-bar
  *ngIf="customers"
  [categories]="categories"
  [array]="customerData"
  (onArrayFilterd)="onSearch($event)"
>
</search-bar>

<div *ngIf="dataRecived; else noCustomers; loader">
  <div class="d-flex justify-content-between">
    <div class="mb-2">
      <a
        routerLink="new-customer"
        class="btn btn-outline-dark"
        title="add new customer"
        role="button"
        >{{ "add a new customer" | paragraphCapital }}</a
      >
    </div>

    <app-display-mode-controllers
      [controllers]="controllers"
      (onChangeDisplay)="onChangeDisplay($event)"
    ></app-display-mode-controllers>
  </div>

  <app-customers-table *ngIf="display === 'table'" [customers]="customers">
  </app-customers-table>

  <customers-folder
    [customers]="customers"
    *ngIf="display === 'folder'"
  ></customers-folder>
</div>

<ng-template #noCustomers>
  <div>
    {{ "opss... no customers where found in the database!" | paragraphCapital }}
  </div>
</ng-template>

<ng-template #loader><app-loader></app-loader></ng-template>
