<app-page-header
  title="customers"
  subtitle="a customer page"
  icon="fas fa-users"
></app-page-header>

<div *ngIf="dataRecived; else loader">
  <div class="d-flex justify-content-between">
    <div class="mb-2">
      <a
        routerLink="new-customer"
        class="btn btn-outline-dark"
        title="add new customer"
        role="button"
        >{{ "add a new customer" | paragraphCapital }}</a
      >
    </div>

    <app-display-mode-controllers
      [controllers]="controllers"
      (onChangeDisplay)="onChangeDisplay($event)"
    ></app-display-mode-controllers>
  </div>

  <search-bar
    *ngIf="customerData && customerData.length"
    [categories]="categories"
    [array]="customerData"
    (onArrayFilterd)="onSearch($event)"
  >
  </search-bar>

  <app-customers-table [customers]="customers" *ngIf="display === 'table'">
  </app-customers-table>

  <customers-folder
    [customers]="customers"
    *ngIf="display === 'folder'"
  ></customers-folder>
</div>

<ng-template #loader><app-loader></app-loader></ng-template>
